In [1]:
from digital_experiments import experiment


@experiment
def addition(a, b):
    return a + b


addition(1, 2)

3

In [2]:
from digital_experiments.automate import automate_experiment
from digital_experiments.search.suggest import GridSuggester

grid = {
    "a": [0, 1, 2],
    "b": [2, 4]
}

automate_experiment(
    addition, 
    suggester=GridSuggester(grid)
)

In [3]:
addition.to_dataframe()

   result  a  b
0       3  1  2
1       2  0  2
2       3  1  2
3       5  1  4
4       4  2  2
5       6  2  4